<!-- src/app/header/header.component.html -->
<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()"><span></span></a>
    <h1 class="header-page-siteTitle">
      <a routerLink="/" data-toggle="tooltip" data-placement="bottom" title="InspectorX homepage">InspectorX</a>
    </h1>
    <div class="header-page-authStatus">
      <a *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a>
      <div *ngIf="auth.loggedIn">


          <span><button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="bottom" title="Profile" style="background-color: aliceblue;border-radius: 5px;" routerLink="profile" ><i class="fa fa-user-circle fa-2x"></i></button>
          </span>
         <span class="opacity-half">|</span> <a (click)="auth.logout()">Log Out</a>



      </div>
    </div>
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li><span *ngIf="auth.loggedIn">
        <a
          routerLink="/partidas"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Matches</a></span>
      </li>
      <li><span *ngIf="auth.loggedIn">
      <a routerLink="/fipplan/add" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Artifact </a>
      </span></li>
      <li><span *ngIf="auth.loggedIn">
      <a routerLink="/fipplan/taxadd" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Taxonomy </a>
      </span></li>
      <li><span *ngIf="auth.loggedIn">


        <a routerLink="fipplan/manager" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        Taxonomy Manager</a>
        </span></li>
        <li><span *ngIf="auth.loggedIn">


          <a routerLink="fipplan/artifactmanager" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          Artifact Manager</a>
          </span></li>
    </ul>

  </nav>
</header>
