
<div class="container">
	<div class="alert alert-dark" role="alert">
    <div style="text-align: center;">
    <h2 style=" display: inline-block;">Planning</h2>
    <a style="color: blueviolet;" (click)="open(content)"><i class="fa fa-info-circle"></i></a>
    </div>
  </div>

		<ng-container *ngIf=InspecListFail>
			<div class="alert alert-warning" role="alert">
          You need to add at least an inspector to create the game.
			</div>
		</ng-container>
		<ng-container *ngIf=ArtifListFail>
			<div class="alert alert-warning" role="alert">
  				You need to add at least an artifact to create the game
			</div>
		</ng-container>




		<div class="row" >
			<div class="col">
        <div>
				<h4 style="display: inline-block;">Level of Difficulty </h4><a  ngbTooltip="{{diff}}" ><i class="fa fa-question-circle"></i></a>
        </div>
        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
				<label>
			   		<input type="radio" name="options" id="option1" autocomplete="off" (click)="clickAtivo(1)"  [disabled]="true" > Easy
			    </label>
			    <label >
			    	<input type="radio" name="options" id="option2" autocomplete="off" (click)="clickAtivo(2)" > Medium
			    </label>
			    <label>
			    	<input type="radio" name="options" id="option3" autocomplete="off" (click)="clickAtivo(3)" > Hard
			    </label>
			    <label>
			    	<input type="radio" name="options" id="option4" autocomplete="off" (click)="clickAtivo(4)" > Mixed
			    </label>
				</div>
			</div>
			<div class="col">
				<div>
					<h4 style="display: inline-block;">Artifacts </h4> <a  ngbTooltip="{{artifacts}}" ><i class="fa fa-question-circle"></i></a>
					<ul class="list-group">
						<ng-container  *ngFor="let artefato of ArtefatoList, let i = index">
							<ng-container *ngIf="difValue == 0; else elseBlock"></ng-container>
							<ng-template #elseBlock>
								<ng-container *ngIf="difValue <= 2 && artefato.qtydefect <= 1">
										<div class="custom-control custom-checkbox" >
										<input type="checkbox" class="custom-control-input" id="{{ artefato._id }}" [(ngModel)]="artefato.isActive">
										<label class="custom-control-label" for="{{ artefato._id }}"

					 >{{ artefato.title }}</label>
					 <div><button class="btn btn-info" (click)="click(i)">Info</button></div>
                     <div *ngIf= "showArtefato[i]" > <mat-card> <div class="posicao"> <button mat-raised-button class="btn btn-primary" (click)="click(i)">Fechar</button></div><div [innerHTML]="artefato.content"></div>
					 </mat-card></div>

                    </div>
								</ng-container>

								<ng-container *ngIf="difValue == 3 && artefato.qtydefect >= 2">
										<div class="custom-control custom-checkbox" >
										<input type="checkbox" class="custom-control-input" id="{{ artefato._id }}" [(ngModel)]="artefato.isActive">
										<label class="custom-control-label" for="{{ artefato._id }}"

					 >{{ artefato.title }}</label>
					 <div><button class="btn btn-info" (click)="click(i)">Info</button></div>
                     <div *ngIf= "showArtefato[i]" > <mat-card> <div class="posicao"> <button mat-raised-button class="btn btn-primary" (click)="click(i)">Fechar</button></div><div [innerHTML]="artefato.content"></div>
					 </mat-card></div>

                    </div>
								</ng-container>

								<ng-container *ngIf="difValue == 4">
										<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="{{ artefato._id }}" [(ngModel)]="artefato.isActive">
										<label class="custom-control-label" for="{{ artefato._id }}"

										>{{ artefato.title }}</label>
										<div><button class="btn btn-info" (click)="click(i)">Info</button></div>
										<div *ngIf= "showArtefato[i]" > <mat-card> <div class="posicao"> <button mat-raised-button class="btn btn-primary" (click)="click(i)">Fechar</button></div><div [innerHTML]="artefato.content"></div>
										</mat-card></div>
										</div>

								</ng-container>
             </ng-template>
							</ng-container>


					</ul>
				</div>

			</div>
			<div class="col">
        <h4 style="display: inline-block;">Inspectors </h4>
        <a  ngbTooltip="{{inspectors}}" ><i class="fa fa-question-circle"></i></a>
				<div *ngIf = "ListuserList">
					<ng-container  *ngFor="let user of ListuserList, let i = index">
						<div *ngIf = "user.online" class="custom-control custom-checkbox" >
							<input type="checkbox" class="custom-control-input" id="{{ user.userId }}" [(ngModel)]="user.isActive" >
							<label class="custom-control-label" for="{{ user.userId }}" ngbPopover="{{user.xp}} xp" popoverTitle="Experience Points">{{ user.title }}</label>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<input type="text" placeholder="Name of the review" [(ngModel)]="partidanome">
<button class="btn btn-primary" (click)="buttonclick()"> Create</button>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Full Inspection Process</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      blablabla </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
  </div>
</ng-template>
</div>
