<div class="container">
  <div class="alert alert-dark" style="text-align: center;" role="alert">
    <h2 style="display: inline-block;">Defect Discrimination(Inspector)</h2>
    <a style="color: blueviolet;" (click)="open(content)"><i class="fa fa-info-circle"></i></a>
  </div>

	<div class="row" >
		<div class="col" >
      <h3 style="display: inline-block;">Review
      </h3><a  ngbTooltip="{{review}}" ><i class="fa fa-question-circle"></i></a> <button (click)="refresh()" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> </button>
			<div>
				<select [(ngModel)]="selectedValue" (ngModelChange)="setArtifactArray(selectedValue.artefato); getAnswers(); " size="5">
					<option *ngFor="let partida of partidaFipList; let i = index" [ngValue]="partida"> {{ partida.title }}</option>
				</select>
      </div>
        <div class="sticky-top">
          <ng-template [ngIf]="partida">
            <app-chat [Partida]= "partida"></app-chat>
          </ng-template>
        </div>
    </div>
    <ng-container *ngIf="selectedValue">
    <div class="col">
      <h3 style="display: inline-block;">Artifacts </h3><a  ngbTooltip="{{artifacts}}" ><i class="fa fa-question-circle"></i></a>
			<div>
				<select [(ngModel)]="selectedArtifact"  (ngModelChange)="_modelchangeartefato(selectedArtifact)" size="5">
					<option *ngFor="let artefato of artifactArray; let i = index" [ngValue]="artefato" [disabled]="disableArray[i]"> {{ artefato | artefatonamer | async }}</option>
				</select>
			</div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Score in {{selectedValue.title}} </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Experience points  in this review: {{this.xp}} points</p>
                <div>
                  <button class="btn btn-link" (click)="goToProfile(); c('Close modal')" >Click here to check a detailed view of your  matches </button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save Click');">Ok</button>
              </div>
            </ng-template>
    <ng-container *ngIf ="artifactCheck(); ">
      <div class="col">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Well done!</h4>
          You already completed all the stages available in this review, click <button type="button" class="btn btn-link" (click)="getScore();open(content)">here</button> to see your score in this review
        </div>
      </div>
    </ng-container>
    <div class="col">
      <ng-container *ngIf="selectedArtifact">
      <ng-container *ngIf="selectedValue.inspetor.length == RespfipList.length; else elseBlock">
        <div style="text-align: center;">
          <h3 style="display: inline-block;">Artifact Content
          </h3>
          <a  ngbTooltip="{{contentA}}" ><i class="fa fa-question-circle"></i></a>
          </div>
              <div>
                <!--<a>{{ ArtefatoIdList[0].title }}</a>!-->
                <div class="container border border-primary rounded">
                  <table class="table bordered">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                           <th scope="col">Answer</th>
                         <th scope="col">Código</th>
                       </tr>

                  </thead>
                  <tbody>
                    <ng-container *ngFor = "let line of defLine; let i = index">
                      <tr>

                        <ng-container *ngFor= "let inspetor of RespfipList; let k = index">
                        <td>
                          <ng-container *ngIf="booleanArray[i]">
                            <ng-container *ngIf="linearray[i]">
                              <ng-container *ngIf="inspetor.dettaxonomy[i] != null">
                              </ng-container>
                            </ng-container>
                          <label *ngIf= "inspetor.userId == user">
                            <strong>{{inspetor.dettaxonomy[i]}} </strong></label>
                          <button *ngIf="inspetor.detdescript[i]!=null && inspetor.userId == user" type="button" class="btn btn-primary btn-sm" placement="right"ngbPopover="{{inspetor.detdescript[i]}}" >Comentário</button>
                          </ng-container>
                        </td>
                        </ng-container>
                        <td class="ql-editor" [innerHTML]="HTMLSanitizer(line)">

                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                  </table>
                </div>
              </div>

      </ng-container>

      </ng-container>

      <ng-container>
        <ng-template #elseBlock>
        Waiting for answers
      </ng-template>
    </ng-container>

    </div>
  </ng-container>

  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Discrimination Stage</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        It is a important stage that consists in a reunion with everyone involved in the software inspection process. The main goal is select the real defects and discard false positives  </p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
    </div>
  </ng-template>
</div>
