		<ng-container *ngIf=avisoFaltouResposta>
			<div class="alert alert-warning" role="alert">
				You need to select one of the taxonomies in the checked answers.
			</div>
    </ng-container>


<div class="container">
  <div class="alert alert-dark" style="text-align: center;"  role="alert">
    <h2 style="display: inline-block;">Defect Discrimination</h2>
    <a style="color: blueviolet;" (click)="open(content)"><i class="fa fa-info-circle"></i></a>
  </div>

	<div class="row" >
		<div class="col-4" >
      <h3 style="display: inline-block;">Review </h3>
      <a  ngbTooltip="{{review}}" ><i class="fa fa-question-circle"></i></a>
			<div>
				<select [(ngModel)]="selectedValue" (ngModelChange)="artefatoarray(selectedValue.artefato); checkcheck()" size="5">
					<option *ngFor="let partida of PartfipList; let i = index" [ngValue]="partida"> {{ partida.title }}</option>
				</select>
      </div>
        <div class="sticky-top">
          <ng-template [ngIf]="partida">
            <app-chat [Partida]= "partida"></app-chat>
          </ng-template>
        </div>

    </div>

		<ng-container *ngIf="selectedValue"><!-- Fazer com que ngIf também aguarde pelo carregamento pra só exibir na DOM quando a promise ser cumprida!-->
      <div class="col-4">
      <div>
      <h3 style="display: inline-block;">Artifacts
      </h3>
      <a  ngbTooltip="{{artifacts}}" ><i class="fa fa-question-circle"></i></a>
      <button (click)="refresh()" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
			<div>
				<select [(ngModel)]="selectedArtifact" (ngModelChange)="_modelchangeartefato(selectedArtifact)" size="5">
					<option *ngFor="let artefato of ArtefatoArray; let i = index" [ngValue]="artefato" [disabled]="disableArray[i]" > {{ artefato | artefatonamer | async }}</option>
				</select>
			</div>
    </div>

    <ng-container *ngIf ="artifactCheck(); ">
      <div class="col-6">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Well done!</h4>
          You already completed the Defect Discrimination stage in this review, go to the <button type="button" class="btn btn-link" (click)="nextStage()">Results </button> to see the results of this review
        </div>
      </div>
    </ng-container>




		<ng-container *ngIf="selectedArtifact">

		<ng-container *ngIf="selectedValue.inspetor.length == RespfipList.length; else elseBlock">

		<div class="col">
      <div style="text-align: center;">
      <h3 style="display: inline-block;">Artifact Content </h3>
      <a ngbTooltip="{{content}}" > <i class="fa fa-question-circle"></i></a>
      </div>
					<div>
						<!--<a>{{ ArtefatoIdList[0].title }}</a>!-->
						<div class="container border border-primary rounded">
							<table class="table bordered">
							<thead>
								<tr>
									<th scope="col"></th>
     								<ng-container *ngFor= "let inspec of RespfipList; let l = index">
     									<th scope="col">{{ l + 1 }}</th>
     								</ng-container>
     								<th scope="col">Code</th>
   								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor = "let line of defLine; let i = index">
									<tr>
										<td scope="row">
											<ng-container *ngIf="booleanArray[i]">

											<input class="form-check-input" type="checkbox" id="check{{i}}" value="{{i}}" aria-label="Linha correta?" [(ngModel)]="linearray[i]">	<label class="form-check-label" for="check {{i}}{{k}}"></label>

											</ng-container>
										</td>
										<ng-container *ngFor= "let inspetor of RespfipList; let k = index">
										<td>
											<ng-container *ngIf="booleanArray[i]">
												<ng-container *ngIf="linearray[i]">
													<ng-container *ngIf="inspetor.dettaxonomy[i] != null">
											<input class="form-check-input" type="radio" name="radio{{i}}" value="{{ inspetor.dettaxonomy[i]}}" (ngModel)=2 (ngModelChange)="changeRadio(inspetor.dettaxonomy[i],i);" id="check {{i}}{{k}}" required>
										</ng-container>
										</ng-container>
											<label class="form-check-label" for="check {{i}}{{k}}">{{inspetor.dettaxonomy[i]}}</label>
											<button *ngIf="inspetor.detdescript[i]!=null" type="button" class="btn btn-primary btn-sm" placement="right"ngbPopover="{{inspetor.detdescript[i]}}" >Comment</button>
											</ng-container>
										</td>
										</ng-container>
										<td class="ql-editor" [innerHTML]="HTMLSanitizer(line)">

										</td>
									</tr>
								</ng-container>
							</tbody>
						</table>

            </div>





				<div class="row form-group">
					<label for="textarea">Comments</label>
    				<textarea class="form-control" id="textarea" rows="3"></textarea>
    			</div>
				<button class="btn btn-primary" type="submit" (click)="buttonCriarResposta()">Create answer</button>
			</div>

		</div>
		</ng-container>
		<ng-template #elseBlock>
			Waiting for the inspectors
		</ng-template>
		</ng-container>
	</ng-container>
  </div>


  <button class="btn btn-primary" (click)="results()">Results</button>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Full Inspection Process</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        blablabla </p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
    </div>
  </ng-template>


</div>
