<div class="container">
	<div class="row" >
		<div class="col">
			<div>
				<select [(ngModel)]="selectedValue" (ngModelChange)="dbhelp._getRespfipBy_Partida(selectedValue._id); artefatoarray(selectedValue.artefato);" size="5">
					<option *ngFor="let partida of PartfipList; let i = index" [ngValue]="partida"> {{ partida.title }}</option>
				</select>
			</div>
		</div>
		<ng-container *ngIf="selectedValue">
		<div class="col">
			<div>
				<select [(ngModel)]="selectedArtifact" (ngModelChange)="_modelchangeartefato(selectedArtifact)" size="5">
					<option *ngFor="let artefato of ArtefatoArray; let i = index" [ngValue]="artefato" [disabled]="disableArray[i]" > {{ artefato }}</option>
				</select>
			</div>
		</div>
		<ng-container *ngIf="selectedArtifact">
		<div class="col">
			<div class="row">
					<div>	
						<a>{{ ArtefatoIdList[0].title }}</a>
							<ng-container *ngFor = "let line of defLine; let i = index" >
	              				<div class="form-check col-sm"  style="margin: 0px;">
    		            			<input type="checkbox" class="form-check-input" id="{{i}}" [(ngModel)]="linearray[i]">
            		    			<label class="form-check-label ql-editor" style="margin: 0px; padding: 0px;" for="{{i}}" [innerHTML]="HTMLSanitizer(line)"></label>
                					<ng-container *ngIf="linearray[i]">
                						<select id="taxonomy" required  [(ngModel)]="detTaxonomyArray[i]">
    									<option *ngFor="let type of types" [value]="type.display"> {{ type.display }} </option>
    									</select>
    									<div class="col-sm"><textarea class="form-control" id="{{i}}" rows="1" [(ngModel)]="detDescriptArray[i]" ></textarea></div>
                					</ng-container>
                				</div>
            				</ng-container>
					</div>
				<div class="row form-group">
					<label for="textarea">Inserir comentários</label>
    				<textarea class="form-control" id="textarea" rows="3"></textarea>
    			</div>
				<button (click)="buttonCriarResposta()">Criar resposta</button>
			</div>

		</div>
		</ng-container>
		</ng-container>

	</div>
	<button (click)="results()">Resultados</button>
</div>