
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header" style="height: 40px;">
    Chat

    <span *ngIf= "mostra" style="float: right;">
      <button type="button" (click)="change()" class="btn btn-link" style="padding: 10px;"><i class="fa fa-minus" aria-hidden="true"></i></button>
  </span>

  <span *ngIf= "!mostra" style="float: right;">
    <button type="button" (click)="change()" class="btn btn-link" style="padding: 10px;"><i class="fa fa-expand" aria-hidden="true"></i>
    </button>
  </span>

    </div>
    <div *ngIf ="mostra">
      <span style="margin: 5px;"><button (click)= 'hide()' class='btn btn-info'><i class="fa fa-users" aria-hidden="true"></i>
        Users</button></span>
      <div *ngIf="show">
        <ng-template [ngIf]=users.length>
        <div *ngFor = "let user of users[users.length-1].users" class="element">
         
            <i class="fa fa-circle" style="color: green;" ></i>
            {{user.username}}
         
        </div>

      </ng-template>
      </div>
      <h6 style="text-align: center;">Messages</h6>

      <div class= "scroll">
        <div class="card-body" >

        <div *ngFor = "let message of messages">
          <p style="background-color: white; ">[{{message.time}}] <strong>{{message.username}}</strong>: {{message.text}}</p>
        </div>

      <div style="width: max-content;">
        <input [(ngModel)]= "message.content" (keyup)="$event.keyCode ==13 && sendMessage()"/>
        <button class="btn btn-primary" (click)= "sendMessage()">Send</button>
      </div>
    </div>
  </div>

    </div>
  </div>
