<app-loading *ngIf="loading"></app-loading>

  <ng-template [ngIf]="questionList">
    <ng-template [ngIf]="questionList.length">


<!--<li *ngFor="let question of questionList">
	<div [innerHTML]="question.code"></div>
</li>!-->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8  border border-primary rounded">   
      <ng-container *ngFor = "let line of codeLine; let i = index" >
        <ng-container *ngIf="gamemode=='facil'; else difBlock">
        <div>
          <div class="allline">
          <div [innerHTML]="HTMLSanitizer(line)" ></div> </div>
        </div>
       </ng-container>
       <ng-template #difBlock>
          <div style="cursor: pointer" (click)="lineValue(i)">
          <div class="allline">
          <div [innerHTML]="HTMLSanitizer(line)" ></div> </div>
        </div>
        </ng-template>
      </ng-container>
    </div>
    <div class="col-md-4">

      		<div class="row">
          <!-- Ok, vamo ver o que ta acontecendo aqui !-->

            <div class="w-100 p-3">
                <div class="card" style="width: 100%;">
                  <div class="card-body">
                     <h5 class="card-title">Linha de código com erro:</h5>
                    <ng-container *ngIf = "indexofcodeLine == null; else outroBloco"> Selecione uma linha de código. </ng-container>
                    <ng-template #outroBloco>
                    <div class="oneline" [innerHTML]="HTMLSanitizer(codeLine[indexofcodeLine])" > </div>
                    </ng-template>

                  </div>
                </div>
            </div>
        			 <!-- <input #textbox type="text" [(ngModel)]="textValue" required> !-->
               <div class="col-xs-12 col-md-6">
                <ng-container *ngIf="!(gamemode == 'facil');">
            <div class="m-1 span6 offset4">
        			     <button type="button" class="btn btn-outline-secondary" (click)="_getAnswerForm(indexofcodeLine)" [disabled]="checkedAnswer">Responder</button>
            </div>
          </ng-container>
          </div>
    
      		</div>

<div class="m-1">
      		 <div *ngIf="checkedAnswer; else elseBlock">
            <div class="pt-3">
            <div *ngFor="let type of types; let i = index">
              <label>
                <input type="radio" name="type" [(ngModel)]="resultadoTipo" [value]="type.value" [disabled]="checkedRadio">
                {{ type.display }}
              </label>
              <ng-container *ngIf="!checkedRadio">
                <ng-container *ngIf="i+1 == resultadoTipo">
              <p> {{ type.description }} </p>
            </ng-container>
            </ng-container>
            </div>
            <div class="m-1">

						  <button  type="button" class="btn btn-outline-secondary" (click)="_getRadioForm(resultadoTipo)" [disabled]="checkedRadio"> Responder </button>  		 	
      		 </div>
          </div>
   			 <ng-template #elseBlock>Aguardando inserção do trecho</ng-template>
  		</div>
    </div>


    <div class="m-1">
      <div class="pt-3">
        <div *ngIf="respondido">
          <ng-container *ngIf="!(gamemode == 'facil');">
            <div *ngIf="respostaCerta; else resposta">
            <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Linha de código com erro:</h5>
              <div>Correta</div>
            </div>   
            </div>
             </div>
            
            <ng-template #resposta> 
              <div class="pt-3">
            <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Linha de código com erro:</h5>
              <div class="oneline" [innerHTML]="HTMLSanitizer(codeLine[questionList[questionIndex].trecho])"></div>
            </div>   
            </div>
          </div>
            </ng-template>
          </ng-container>

            <div *ngIf="tipoCerto; else tipo">
              <div class="pt-3">
            <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Tipo:</h5>
              <div>Correto</div>
            </div>   
            </div>
          </div>
             </div>
            
            <ng-template #tipo> 
              <div class="pt-3">
            <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Tipo:</h5>
              <div>{{questionList[questionIndex].type}}</div>
            </div>   
            </div>
            </div>
            </ng-template>

            <div class="pt-3">
            <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Explicação:</h5>
              <div> {{ questionList[questionIndex].description }}
            </div>
            </div>
          </div>
          <div class="pt-3">
            <button  type="button" class="btn btn-outline-secondary" (click)="_nextQuestion()"> Próximo </button>
          </div>
        </div> 
      </div>
    </div>

</div>





      <!--  <div class="row">
            <div [innerHTML]="questionList[questionIndex].description"></div>
          </div> 
          <div class="row">
              <div [innerHTML]="questionList[questionIndex].type"></div>
          </div>!-->
