<app-loading *ngIf="loading"></app-loading>

  <ng-template [ngIf]="questionList">
    <ng-template [ngIf]="questionList.length">


<!--<li *ngFor="let question of questionList">
	<div [innerHTML]="question.code"></div>
</li>!-->

<div class="container">
  <div class="row">
    <div class="col-sm  border border-primary">
      
      <ng-container *ngFor = "let line of codeLine; let i = index" >
        <button type="button" (click)="lineValue(i)" class="btn btn-link"> {{ line }} </button>
        <br> </ng-container>
    
    </div>
    <div class="col-sm">
    		<div class="row">
      			<div [innerHTML]="questionList[questionIndex].description"></div>
      		</div>
      		<div class="row">
      				<div [innerHTML]="questionList[questionIndex].type"></div>
      		</div>
      		<div class="row">
          <!-- Ok, vamo ver o que ta acontecendo aqui !-->

              <a> {{ codeLine[indexofcodeLine] }}</a>
      			 <!-- <input #textbox type="text" [(ngModel)]="textValue" required> !-->
      			  <button (click)="_getAnswerForm((codeLine[indexofcodeLine]))" [disabled]="checkedAnswer">Responder</button>
      		
          </div>

      		 <div *ngIf="checkedAnswer; else elseBlock">
            <div *ngFor="let type of types">
              <label>
                <input type="radio" name="type" [(ngModel)]="resultadoTipo" [value]="type.value" [disabled]="checkedRadio">
                {{ type.display }}
              </label></div>

						    <button (click)="_getRadioForm(resultadoTipo)" [disabled]="checkedRadio"> Confirmar </button>  		 	
      		 </div>
   			 <ng-template #elseBlock>Aguardando inserção do trecho</ng-template>
  		</div>
    </div>
</div>
