<div class="container">
  <div class="alert alert-dark" role="alert">
  	<h2 style="text-align: center;">Defect Detection</h2>
  </div>
	<div class="row" >
		<div class="col">
			<div>
        <h3>Review</h3>
				<select [(ngModel)]="selectedValue" (ngModelChange)="artefatoarray(selectedValue.artefato); checkcheck();" size="5">
					<option *ngFor="let partida of PartfipList; let i = index" [ngValue]="partida"> {{ partida.title }}</option>
				</select>
			</div>
    </div>

      <div class="col">
			<div>
        <h3>Artifacts</h3>
				<select [(ngModel)]="selectedArtifact" (ngModelChange)="_modelchangeartefato(selectedArtifact)" size="5">
					<option *ngFor="let artefato of ArtefatoArray; let i = index" [ngValue]="artefato" [disabled]="disableArray[i]" > {{ artefato | artefatonamer | async }}</option>
				</select>
			</div>
      </div>
      <ng-container *ngIf="selectedValue"><!-- Fazer com que ngIf também aguarde pelo carregamento pra só exibir na DOM quando a promise ser cumprida!-->
        <ng-container *ngIf ="artifactCheck(); ">
          <div class="col">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Well done!</h4>
              You already completed the Defect Detection stage in this review, go to the <button type="button" class="btn btn-link" (click)="nextStage()">Defect Discrimination stage</button> to finish the Inspection Process
            </div>
          </div>
        </ng-container>
		<ng-container *ngIf="selectedArtifact">
		<div class="col">
			<div class="row">
      <div style="text-align: center;">
        <h3>Artifact Content</h3>
      </div>
					<div >
					<!--	<a>{{ ArtefatoIdList[0].title }}</a>!-->
							<ng-container *ngFor = "let line of defLine; let i = index" >
	              				<div class="form-check col-sm"  style="margin: 0;">
    		            			<input type="checkbox" class="form-check-input" id="{{i}}" [(ngModel)]="linearray[i]">
            		    			<label class="form-check-label ql-editor" style="margin: 0px; padding: 0px;" for="{{i}}" [innerHTML]="HTMLSanitizer(line)" ></label>
                					<ng-container *ngIf="linearray[i]">
                						<select id="taxonomy" required  [(ngModel)]="detTaxonomyArray[i]" (mouseover)='lookfor(detTaxonomyArray[i])' ngbPopover="{{description}}">
    									  <option *ngFor="let type of types" [value]="type.display" > {{ type.display }} </option>
    									</select>
    									<div class="col-sm"><textarea class="form-control" id="{{i}}" rows="1" [(ngModel)]="detDescriptArray[i]" ></textarea></div>
                					</ng-container>
                				</div>
            				</ng-container>
					</div>
				<div class="row form-group">
					<label for="textarea">Insert a comment</label>
    				<textarea class="form-control" id="textarea" rows="3"></textarea>
    			</div>
				<button class="btn btn-primary" (click)="executarResp()">Artifact Inspected</button>
			</div>

		</div>
    </ng-container>

		</ng-container>
	</div>
</div>
