<!-- src/app/pages/home/home.component.html -->

<app-loading *ngIf="loading"></app-loading>

<span *ngIf="!auth.loggedIn">
	<div class="container">
		<div class="row">
			<div class="col-8 mx-auto text-center">
				<img src="../../assets/images/inspectorlogo.png" class="img-fluid" alt="Responsive image">
			</div>
		</div>
	</div>
</span>
<a *ngIf="auth.loggedIn">
  <div class="container">


  <div class= "alert alert-dark">
  <h2 class="text-center" >Game Mode</h2>
</div>
<div class="row" >
  <div class="col-sm-6 col-md-12 p-2">
    <a class="btn btn-primary" routerLink="/fullinspec" routerLinkActive="active" >Full Inspection Process</a>
      <!--<button class="btn btn-primary" disabled>Full Inspection Process</button>!-->
  <div class="clearfix hidden-xs hidden-sm">
  </div>
  </div>

  <div class="col-sm-6 col-md-12 p-2">
    <a class="btn btn-primary" routerLink="/crawler-dif" routerLinkActive="active">Defect Crawler</a>
  <div class="clearfix hidden-xs hidden-sm"></div>
  </div>
  <div class="col-sm-6 col-md-12 p-2">
    <button class="btn btn-link" (click)="show()">Click here to see the Ranking</button>
  <ng-template [ngIf]= "access">
  <app-ranking></app-ranking>
  </ng-template>
  </div>
</div>

</div>

</a>



<!-- src/app/header/header.component.html -->


 <!-- <a class="btn btn-primary" routerLink="/testbench" routerLinkActive="active">Testbench</a>!-->
