<!-- src/app/pages/home/home.component.html -->

<app-loading *ngIf="loading"></app-loading>

<a *ngIf="!auth.loggedIn"><h1>Faça login</h1></a>

<a *ngIf="auth.loggedIn">
<div class="row">
  <div class="col-sm-6 col-md-12">
    <a class="btn btn-primary" routerLink="/fullinspec" routerLinkActive="active" disabled>Full Inspection Process</a>
  <div class="clearfix hidden-xs hidden-sm"></div>
  </div>

  <div class="col-sm-6 col-md-12">
    <a class="btn btn-primary" routerLink="/crawler-dif" routerLinkActive="active">Defect Crawler</a>
  <div class="clearfix hidden-xs hidden-sm"></div>
  </div>
</div>
</a>
<!-- src/app/header/header.component.html -->
 