<div class="container">
		<div class="row" >
			<div class="col">
				
				<button type="button" class="btn btn-primary" routerLink="/fipcreate" routerLinkActive="active" >Criar Partida</button> 
			</div>
			<div class="col">
				<div>
					<ul class="list-group">
						<ng-container *ngFor="let Partfip of PartfipList">
							<li class="list-group-item"> {{ Partfip.createDate }} </li>
						</ng-container>
					</ul>
				</div>
				
			</div>
			<div class="col">
				<div>
					<ul class="list-group">
						<ng-container *ngFor="let Artefato of ArtefatoList">
							<li class="list-group-item"> {{ Artefato.title }} </li>
						</ng-container>
					</ul>
				</div>
				<div> <button type="button" class="btn btn-primary" routerLink="/fipplan/add" routerLinkActive="active" > Adicionar </button> </div>
			</div>
			<div class="col">
				<div>	
				<!--	<ng-container  *ngFor="let user of ListuserList, let i = index">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="{{ user.userId }}">
							<label class="custom-control-label" for="{{ user.userId }}">{{ user.title }}</label>
						</div>						
					</ng-container>	!-->
				</div>
			</div>
		</div>

</div>