<div class="container">
		<div class="row" >
			<div class="col">
				<div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
				<label>
			   		<input type="radio" name="options" id="option1" autocomplete="off" (click)="clickAtivo(1)"  > Fácil
			    </label>
			    <label >
			    	<input type="radio" name="options" id="option2" autocomplete="off" (click)="clickAtivo(2)" > Médio
			    </label>
			    <label>
			    	<input type="radio" name="options" id="option3" autocomplete="off" (click)="clickAtivo(3)" > Difícil
			    </label>
			    <label>
			    	<input type="radio" name="options" id="option4" autocomplete="off" (click)="clickAtivo(4)" > Misto
			    </label>
				</div>
			</div>
			<div class="col">
				<div>
					<ul class="list-group">
						<li class="list-group-item">TESTANDO</li>
						<li class="list-group-item">TE222222222STANDO2</li>
						<li class="list-group-item">TESTE 03</li>
						<li class="list-group-item">TESTANDO4</li>
						<li class="list-group-item">MAIS UM</li>
						<li class="list-group-item">MAIS TESTESESS</li>
						<li class="list-group-item">TESTANDO</li>
						<li class="list-group-item">TE222222222STANDO2</li>
						<li class="list-group-item">TESTE 03</li>
						<li class="list-group-item">TESTANDO4</li>
						<li class="list-group-item">MAIS UM</li>
						<li class="list-group-item">MAIS TESTESESS</li>
					</ul>
				</div>
				<div> <button type="button" class="btn btn-primary" routerLink="/fipplan/add" routerLinkActive="active" > Adicionar </button> </div>
			</div>
			<div class="col">
				<div>
					<ul class="list-group">
						<li class="list-group-item">Usuario 1</li>
						<li class="list-group-item">User 2</li>
						<li class="list-group-item">Fulano</li>
						<li class="list-group-item">Siclano</li>
						<li class="list-group-item">Mais um usuario</li>
						<li class="list-group-item">Mais um aqui</li>
						<li class="list-group-item">Mais um</li>
					</ul>
				</div>
			</div>
		</div>

</div>