<div class="container">
	<div  style="width: auto; text-align: center;" class="alert alert-dark" role="alert">

	<h2 class="text-center">Full Inspection Process</h2>
		</div>

		<div class="row">
			<div class="col">
				
				<div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
				<label [ngClass]="calculateClasses()">
			   		<input type="radio" name="options" id="option1" autocomplete="off" (click)="moderadorAtivo()"  > Moderador
			    </label>
			    <label [ngClass]="calculateClasses2()">
			    	<input type="radio" name="options" id="option2" autocomplete="off" (click)="inspetorAtivo()" > Inspetor
			    </label>
				</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<h5>Etapas do Processo de inspeção</h5>
				<button class="btn btn-primary" routerLink="/fipplan" routerLinkActive="active" [disabled]=!modinspbool>Planejamento</button>
				<button class="btn btn-primary" routerLink="/fipdetect" routerLinkActive="active" [disabled]=modinspbool>Detecção</button>
				<button class="btn btn-primary" routerLink="/fipdiscrim" routerLinkActive="active" [disabled]=!modinspbool>Avaliação</button>
			</div>
		</div>
</div>