/* src/app/header/header.component.scss */
/*--------------------
       HEADER
--------------------*/

/*-- Navigation --*/

.testando {
	color: blue;
	background-color: yellow;
	font-size: 30px;
	white-space: nowrap;
}